@import './variables.scss';
body{
  background-color: $white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}


.wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 15px;
  padding-right: 15px;
}
.UI-button{
  background: none;
  border: 1px solid $white;
  color: $white;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 0;
  text-transform: capitalize;
  &:hover {
    color: $primary;
    background-color: $white;
  }
}